
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.c-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-item-div{
    width: 40vw;
    padding: 20px;
    background-color: rgb(241, 153, 126);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 10px solid rgb(200,200,200);
    margin: 20px;
}

.c-props-div{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-item-img{
    height: 200px;
    width: 200px;
}

.c-item-p{
    font-size: 18px;
    margin: 10px;
}

.c-buttons-div{
    display: flex;
    height: 40px;
}

.c-button-add{
    background-color: rgb(200,200,200);
    border: none;
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.c-button{
    font-size: 29px;
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 30px;
}

.c-msg-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.c-msg{
    margin-top: 200px;
    font-size: 35px;
}

.c-msg-button{
    font-size: 30px;
    padding: 10px;
    outline: none;
    background-color: rgb(173, 173, 173);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 50px;
}

.c-precio-total-div{
    display: flex;
    justify-content: flex-end;
    width: 50vw;
}

.c-precio-total{
    padding: 20px;
    font-size: 27px;
    color: rgb(200,200,200);
}

.c-form{
    margin-top: 50px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(107, 107, 107);
    margin-bottom: 180px;
}

.c-input{
    outline: none;
    border: none;
    border-bottom: 3px solid rgb(241, 153, 126);
    margin: 5px;
    font-size: 20px;
    width: 30vw;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(107, 107, 107);
    color: white;
}

.c-input::placeholder{
    color: rgb(192, 192, 192);
}

.c-button-form{
    width: 20%;
    margin-top: 20px;
    background-color: rgb(241, 153, 126);
    border: none;
    border-bottom: 2px solid rgb(160, 103, 86);
    padding: 10px;
    color: white;
    font-size: 20px;
    width: 200px;
}