
.c-item-div{
    width: 40vw;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 5px solid rgb(197, 53, 53);
    margin: 20px;
}

.c-item-img{
    height: 200px;
    width: 200px;
}

.c-item-p{
    font-size: 18px;
    margin: 10px;
}

.c-msg-div{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.c-msg{
    margin-top: 200px;
    font-size: 35px;
}

.c-msg-button{
    font-size: 30px;
    padding: 10px;
    outline: none;
    background-color: rgb(173, 173, 173);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-top: 50px;
}
