
*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat Brush', cursive;
}

body{
    background-color: rgb(250, 187, 187);
}

.lorem{
    font-size: 30px;
}

.boton-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.boton{
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: darksalmon;
}

.numero{
    font-size: 40px;
    margin: 30px;
}

.items-div{
    display: grid;
    grid-template-columns: auto auto;
}

.item-div{
    height: 450px;
    width: 450px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(197, 53, 53);
    margin: 70px 130px 70px 130px;
}

.item-img{
    height: 300px;
    width: 300px;
}

.item-precio{
    text-decoration: none; 
    margin-top: 30px;
    font-size: 30px;
    color: black;
}

.detail-div{
    width: 650px;
    height: 650px;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(197, 53, 53);
    margin-top: 50px;
}

.detail-button{
    font-size: 30px;
    width: 15vw;
    height: 5vh;
    background:linear-gradient(darksalmon,rgb(197, 53, 53));
    outline: none;
    border: none;
}

.detail-img{
    width: 350px;
    height: 350px;
}

.detail-descripcion{
    font-size: 30px;
}
