*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.main-div{
  height: 20vh;
  width: 100vw;
  background-color: rgb(44,44,44);
  display: flex;
  align-items: center;
}

.navbar-div{
  position: fixed;
  width: 100%;
  height: 20vh;
  background-color: rgb(44,44,44);
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px  solid rgba(44,44,44);
  transition-duration: .5s;
}

.shadow{
  border-bottom: 5px  solid rgba(0,0,0,.1);
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div{
  display: flex;
  transition-duration: 1s;
}

.logo{
  height: 15vh;
  margin-left: 200px;

}

.logo-div:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.navbar-item{
  margin: 40px;
  font-size: 30px;
  cursor: pointer;
  color: rgb(200,200,200);
  text-decoration: none;
  transition-duration: .3s;
}

.navbar-item:hover{
  color: rgb(250, 131, 95);
}

.cart-div{
  display: flex;
  margin: 0 150px 0 150px;
  flex-direction: column;
  align-items: flex-end;
  transition-duration: 1s;
}

.cart{
  font-size: 40px;
  transition-duration: 1s;
  color: rgb(200,200,200);
}

.cart:hover{
  color: rgb(250, 131, 95);
}

.cart-div b{
  color: rgb(200,200,200);
}

.cart-div b:hover{
  color: rgb(250, 131, 95);
}

.cart-div:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

