*{
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-div{
  height: 20vh;
  width: 100vw;
  background-color: rgb(255, 255, 255);
}

.navbar-div{
  position: fixed;
  height: 20vh;
  width: 100%;
  background-color: rgb(197, 53, 53);
  display: flex;
  justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-div{
  display: flex;
}

.logo{
  height: 20vh;
  margin-left: 200px;
}

.navbar-item{
  margin: 20px;
  padding: 20px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  transition-duration: .3s;
  color: black;
  text-decoration: none;
}

.navbar-item:hover{
  color: rgb(83, 83, 83);
}

.cart{
  font-size: 40px;
  margin: 150px;
  transition-duration: 1s;
}

.cart:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}